.success {
    color: rgb(84, 214, 84);
    font-size: 25px;
}
.danger {
    color: #ff0000;
    font-size: 25px;
}
label{
    display: block;
}
button{
    padding: 10px 10px;
    margin-bottom: 10px;
}
