<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm" ngNativeValidate>
        <div id="user-data">
          <label for="firstname">Firstname:</label>
          <input type="text" id="firstname" class="form-control" name="firstname" ngModel required firstname #firstname="ngModel">
        </div>
        <div id="user-data">
          <label for="lastname">Lastname:</label>
          <input type="text" id="lastname" class="form-control" name="lastname" ngModel required lastname #lastname="ngModel">
        </div>
        <div id="user-data">
          <label for="email">Email:</label>
          <input type="text" id="email" class="form-control" name="email" ngModel required email #email="ngModel">
          <span class="help-block" *ngIf="!email.valid && email.touched">Please Enter a valid Email</span>
        </div>
        <div id="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" class="form-control" name="password" ngModel required pattern="([a-zA-Z ]*">
        </div>
        
      <div id="form-group">
        <label for="cnfrmpassword">Confirm Password:</label>
        <input type="password" id="cnfrmpassword" class="form-control" name="cnfrmpassword" ngModel required pattern="([a-zA-Z ]*" validateEqual="password">
      </div>
      
      <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
      </form>
      </div>
    </div>
  </div>